

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<h1>bienvenid@</h1>
<h2>pulsa el boton para desplegar reporte</h2>
<button>
  <a routerLink="/tablaReportePersonal">enviar</a>
</button>
<button type="submit" class="btn btn-primary" (click)="getTask()">Agregar</button>

<router-outlet></router-outlet>